
useDynLib(rcdd)

export(addHeq)
export(addHin)
export(all.intersect)
export(all.union)
export(d2q)
export(makeH)
export(maximal)
export(q2d)
export(q2q)
export(qdq)
export(qmq)
export(qpq)
export(qxq)
export(qsum)
export(qprod)
export(scdd)
export(validcdd)
export(z2q)

